@import "font.css";

::selection {
    background-color: #bdbdbd;
    color: white;
}

body {
    font-family: LAT-SF, serif;
    line-height: 1.4;
}

h1 {
    text-align: center;
}

h3 {
    text-align: right;
}

h1, h2, h3 {
    margin: 0;
}

p {
    hyphens: auto;
    -webkit-hyphens: auto;
    margin-block-end: .6em;
    margin-block-start: .6em;
    text-align: justify;
}

code {
    background: #eeeeee;
    border-radius: .25em;
    font-family: LAT-MS, monospace;
    padding: .125rem .25rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    margin: auto;
    max-width: 54em;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.nav a {
    margin: 0 10px;
    position: relative;
}

.nav a::after {
    content: '-';
    position: absolute;
    width: 20px;
}

.nav a:last-child::after {
    content: normal;
}

.article {
    display: flex;
    hyphens: auto;
    -webkit-hyphens: auto;
    justify-content: space-between;
}

.column {
    width: 46%;
}

.column p {
    hyphens: none;
    -webkit-hyphens: none;
    text-align: right;
}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.icon {
    border: 0;
    height: 30px;
}

.css,
.math,
.ccby {
    padding: 0 2px;
}

.atom,
.mjax {
    padding-left: 2px;
    padding-right: 7px;
}

.copyright {
    text-align: center;
}
