@import "font.css";

body {
    font-family: LAT-SF, serif;
    font-size: 1em;
    overflow-x: hidden;
    user-select: none;
    word-break: break-word;
    -webkit-user-select: none;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    min-height: 8em;
}

.header .header-left {
    min-width: 8em;
    position: relative;
    text-align: center;
}

.avatar {
    border: none;
    border-radius: 100%;
    height: 3em;
    width: 3em;
}

.header .header-left .avatar {
    height: 6em;
    position: relative;
    top: calc(50% - 3em);
    width: 6em;
}

.header .header-right {
    flex-grow: 1;
    padding: 0.9em 0;
}

.header .description {
    font-size: 0.9em;
}

.header .title {
    font-size: 1.7em;
    font-weight: bold;
}

.header .bio {
    display: block;
    font-size: 1.1em;
    margin-top: .5em;
}

.memoir {
    border-bottom: solid 1px;
    padding: 0 1em 1em 1em;
}

.memoir ~ .memoir {
    padding: 1em;
}

.memoir:last-child {
    border-bottom: none;
}

.content * {
    line-height: 1.4em;
    margin-bottom: .4em;
}

.discrete {
    font-family: LAT-MS, monospace;
    font-size: .9em;
    margin: .6em 0 -.4em 0;
    text-align: right;
}

.date::after {
    content: ' / ';
}

.status::before {
    content: ' / ';
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    font-family: LAT-MS, monospace;
}

.enclosure {
    display: flex;
    flex-flow: row wrap;
    margin: .6em -1em -.2em -1em;
    overflow: hidden;
}

.enclosure > * {
    height: 100%;
    max-height: 10em;
    object-fit: cover;
    width: 100%;
}
